@font-face {
  font-family: 'cmu';
  src: url('../fonts/cmunrm-webfont.woff') format('woff'),
       url('../fonts/cmunrm-webfont.ttf') format('truetype');  
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 55%;
  @include phablet {
    font-size: 62.5%;
  }
}

a{
  text-decoration: none;
  color: $brown;
  &:hover{
    color: $blue;
  }  
}

body {
  color:  $brown;
  font-size:  12 + px;
  font-size: (12  / 10) + em; // currently ems cause chrome bug misinterpreting rems on body element
  font-family: 'fg-book', sans-serif;
  line-height: 1;
}